<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0" xmlns:atom="http://www.w3.org/2005/Atom">
  <channel>
    <title>{{.Title}}</title>
    <link>{{.SiteURL}}</link>
    <description>{{.Description}}</description>
    <language>{{.Language}}</language>
    <lastBuildDate>{{.LastBuildDate}}</lastBuildDate>
    <atom:link href="{{.FeedURL}}" rel="self" type="application/rss+xml"/>
    {{- if .Copyright}}
    <copyright>{{.Copyright}}</copyright>
    {{- end}}
    {{- if .Generator}}
    <generator>{{.Generator}}</generator>
    {{- end}}
    {{- range .Items}}
    <item>
      <title>{{.Title}}</title>
      <link>{{.URL}}</link>
      <description><![CDATA[{{.Description}}]]></description>
      <guid isPermaLink="true">{{.URL}}</guid>
      <pubDate>{{.PubDate}}</pubDate>
      {{- if .Author}}
      <author>{{.Author}}</author>
      {{- end}}
      {{- range .Categories}}
      <category>{{.}}</category>
      {{- end}}
    </item>
    {{- end}}
  </channel>
</rss>
